# Database
DATABASE_URL="postgresql://user:password@localhost:5432/niu_db"

# JWT
JWT_SECRET="your-secret-key-here-min-64-characters"

# API
NODE_ENV="development"
PORT=4000
CORS_ORIGIN="http://localhost"

# CORS
CORS_ORIGIN="http://localhost:5173"
